.releaseContainer {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.6em;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;

  .coverBox {
    position: relative;
    width: 300px;
    // height: 300px;
    .front,
    .back {
      max-height: 350px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
        0 6px 20px 0 rgba(0, 0, 0, 0.5);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: -webkit-transform 1.5s;
      -moz-transition: -moz-transform 1.5s;
      -o-transition: -o-transform 1.5s;
      transition: transform 1.5s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    .front {
      z-index: 1;
      // display: none !important;
    }
    .back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      z-index: 3;
    }
    &:hover .front{
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
transform: rotateY(-180deg);
    }
    &:hover .back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }

  .link {
    background-color: #e8e9e4;
    position: relative;
    display: block;
    width: 100px;
    height: 44px;
    border: 1px solid gray;
    padding: 10px;
    overflow: hidden;
    .linkText {
      position: absolute;
      margin-left: 0.5em;
    }

    &:hover .linkText {
      display: inline-block;
      color: black;
    }
  }
}
@media only screen and (min-width: 600px) {
  .textBox {
    max-width: 550px;
    margin-left: 2em;
  }
  .releaseContainer {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.6em;
    .coverBox {
      width: 350px;
      height: 350px;
      //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
      //     0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }
    .link {
      position: relative;
      display: block;
      width: 46px;
      height: 52px;
      border: 1px solid gray;
      padding: 10px;
      overflow: hidden;
      .linkText {
        position: absolute;
        margin-left: 0.5em;
      }

      &:hover .linkText {
        display: inline-block;
        color: black;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .releaseContainer {
    flex-direction: row;
    margin-bottom: 0.6em;

    .coverBox {
      width: 350px;
    }
    .link {
      font-size: 24px;
      position: relative;
      display: block;
      width: 48px;
      height: 52px;
      border: 1px solid gray;
      padding: 10px;
      overflow: hidden;
      transition: all ease 0.2s;
      .linkText {
        position: absolute;
        display: none;
        margin-left: 0.5em;
        margin-top: 0.1em;
      }

      &:hover .linkText {
        display: inline-block;
        color: black;
      }
      &:hover {
        width: 130px;
      }
    }
  }
}
