.header {
  background-color: #e8e9e4;
  height: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navBar {
  width: 100%;
  margin-top: 2em;

  .navLinks {
    display: block;
    list-style: none;

    & img {
      padding-bottom: 6px;
    }

    .navLink {
      text-decoration: none;
      :first-child {
        margin-right: 6px !important;
      }
    }
  }
}

// @media only screen and (min-width: 600px) {
//   .navBar {
//     width: 75%;

//     .navLinks {
//       display: block;
//     }
//   }
// }

// @media only screen and (min-width: 1000px) {
//   .navBar {
//     width: 960px;

//     .navLinks {
//       display: block;
//     }
//   }
// }
