.playerWrapper {
  .playerContainer {
    & iframe {
      border: none;
      width: 350px;
      height: 350px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .playerWrapper {
    .playerContainer {
      & iframe {
        width: 350px;
        height: 350px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .playerWrapper {
    margin-top: 6vh;

    .playerContainer {
      & iframe {
        width: 600px;
        height: 600px;
      }
    }
  }
}
