.playerWrapper {
  margin-top: 2vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  .playerContainer {
    & iframe {
      border: none;
      width: 300px;
      height: 300px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
        0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

@media only screen and (min-width: 600px) {
  .playerWrapper {
    .playerContainer {
      & iframe {
        width: 350px;
        height: 350px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .playerWrapper {
    margin: 0 1em;
    margin-top: 6vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    .contentWrapper {
      // margin-left: -4em;
      // margin-right: 10em;

      .titleContainer {
        margin-top: 6em;

        & > p {
          margin-top: -1em;
        }
      }

      .contentContainer {
        margin-top: 3.4em;
        & li {
          margin-bottom: 3px;
        }
      }
    }

    .playerContainer {
      & iframe {
        width: 600px;
        height: 600px;
      }
    }
  }
}
