.pageTitleContainer {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  .pageTitle {
    display: none;
  }
  & > p {
    font-style: italic;
  }
}

.podcastsWrapper {
  max-width: 100%;
  margin-bottom: 6em;

  .podcastCoverImg {
    margin: 0.5em;
    position: relative;
    cursor: pointer;
  }

  .coverText {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .pageTitleContainer {
    width: 100%;
    margin-left: 1.2em;
    margin-top: 1em;

    .pageTitle {
      display: block;
    }
  }
  .podcastsWrapper {
    padding-top: 4vh;

    .podcastCoverImg {
      max-width: 450px;
    }
    .coverText {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .pageTitleContainer {
    text-align: center;
    width: 100%;
    margin-left: 1.2em;
    margin-top: 1em;
    .pageTitle {
      margin-bottom: 0.5em;
      display: block;
    }
  }
  .podcastsWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 1.5vh;

    .podcastCoverImg {
      max-width: 300px;
      max-height: 300px;
      object-fit: fill;

      .coverText {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:hover .coverText {
        display: flex;
      }
    }
  }
}
