.pageTitleContainer {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  .pageTitle {
    display: none;
  }
  & > p {
    font-style: italic;
  }
}

@media only screen and (min-width: 600px) {
  
}

@media only screen and (min-width: 1000px) {
  .releasesWrapper {
    margin-bottom: 6em;
  }
}
